@import reset
@import variables
@import layouts
@import common
@import side
@import main-content
@import media-queries

html, body
	font-family: Arial, sans-serif

html
	font-size: 62.5%

body
	font-size: 1.6rem

@keyframes fadeIn
	0%
		opacity: 0

	100%
		opacity: 1

.fadeIn
	animation-name: fadeIn
	animation-duration: 1s