.wrapper
    .container.test

        // sidebar
        .side.test

            //- name & position info
            .side__head
                .user
                    .user__image.circle
                        .bg__img.circle(style="background-image: url(/img/me.jpg)")

                    .user__title
                        h1.user__title--heading #{personal.firstName} #{personal.lastName}
                        p.user__title--subheading Front End Developer


            //- personal info
            .side__content


        // main content
        .main
