.test
    outline: 1px solid magenta

.bg__img
    width: 100%
    padding-bottom: 100%
    //height: 100%
    max-width: inherit
    max-height: inherit
    background: no-repeat center center
    background-size: cover

.circle
    border-radius: 50%

.user__image
    margin: 0 auto
    border: .5rem solid $color-accent

.user
    &__image
        margin-bottom: $offset-sm
        max-width: 20rem
        max-height: 20rem

    &__title
        text-align: center

        &--heading
            margin-bottom: $offset-xxsm
            font-size: 2.7rem
            font-weight: 900

        &--subheading
            opacity: .8
            font-weight: 100