.test
    outline: 1px solid magenta

.bg__img
    width: 100%
    padding-bottom: 100%
    //height: 100%
    max-width: inherit
    max-height: inherit
    background: no-repeat center center
    background-size: cover

.circle
    border-radius: 50%

// User Details
.user-details
    &__head
        margin-bottom: 2rem

.user
    &__image
        margin: 0 auto $offset-sm
        max-width: 19.5rem
        max-height: 19.5rem
        border: .5rem solid $color-accent

    &__title
        text-align: center

    &__heading
        margin-bottom: $offset-xsm
        font-size: 2.7rem
        font-weight: 900

    &__subheading
        opacity: .8
        font-weight: 100

// Heading with line
.heading-accent
    display: flex
    width: 100%
    align-items: center
    &__text
        flex-shrink: 0
        margin-right: 2rem
        font-size: 2.7rem

    &__line
        margin-right: .5rem
        border-bottom: 3px solid $color-accent
        width: 100%

// Tooltip
.tooltip__trigger
    &:hover
        .tooltip, ~ .tooltip
            opacity: 1
            visibility: visible

.tooltip
    transition: .3s all ease
    padding: 1rem
    position: absolute
    top: -100%
    left: 50%
    transform: translate(-50%, -110%)
    background-color: rgba(#000, .6)
    opacity: 0
    visibility: hidden
    border-radius: 5px
    filter: drop-shadow(0px 0px 5px rgba(#555, 1))
    pointer-events: none
    &:after
        content: ''
        top: 100%
        left: 50%
        border: solid transparent
        height: 0
        width: 0
        position: absolute
        pointer-events: none

        //border-color: transparent
        border-top-color: rgba(#000, .6)
        border-width: 10px
        margin-left: -10px
