// Created by miro on 6/10/17.

-
    var personal = {
        firstName : "Miroslav",
        lastName : "Liubenov",
        occupation : "Front End Developer",

        dateOfBirth : {
            day : 29,
            month : "April",
            year : 1986
        },
        gender : "Male",

        nationality : "Bulgarian",
        language : {
            primary : "Bulgarian",
            secondary : "English"
        },
        relationship : "In relationship"
    }

    var contacts = {
        mobile : "+359 895 828 010",
        skype : "liubenow",
        email : "m.liubenow@gmail.com"
    }

    var skills = {
        personal : {
            skill1 : {
                title : "Team work",
                level : "70%"
            },
            skill2 : {
                title : "Organisation",
                level : "80%"
            },
            skill3 : {
                title : "Mentality",
                level : "90%"
            },
            skill4 : {
                title : "loyality",
                level : "95%"
            }
        },

        professional : {
            skill1 : {
                title : "HTML/CSS",
                level : "75%"
            },
            skill2 : {
                title : "SASS",
                level : "80%"
            },
            skill3 : {
                title : "Jade/Pug",
                level : "70%"
            },
            skill5 : {
                title : "Javascript",
                level : "30%"
            },
            skill6 : {
                title : "jQuery",
                level : "35%"
            },
            skill7 : {
                title : "Gulp",
                level : "35%"
            }
        }
    }